.col-md-2.header-basket
	= link_to basket_path, class: "cart-link" do
		- if has_order? && current_order.has_items?
			%p.cart
				%i.fa.fa-shopping-cart.fa-2x
				&nbsp;
				%b.cart-quantity
					%span.badge.label-danger{style: 'background-color: orange'}= current_order.total_items
					= "#{number_to_currency current_order.total_before_tax}"
		- else
			%p.empty
				%i.fa.fa-shopping-cart.fa-2x
				%b.cart-quantity &nbsp;  Vazio

:javascript
	var dispatcher, uri;
	uri = window.document.location.host + "/websocket";
	dispatcher = new WebSocketRails(uri);
	dispatcher.on_open = function(data) {
	  return console.log('Connection has been established');
	};
	dispatcher.bind('order_finished', function(data) {
		amount = (data.amount / 100).toFixed(2)
		if(data.avatar === undefined){
			var avatar = 'https://graph.facebook.com/'+data.facebook_id+'/picture?type=large'
		}else{
			var avatar = data.avatar
		}
		if(window.location.pathname === "/basket"){
			$('#payment_alert').html('<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">'+
			  '<div class="modal-dialog" role="document">'+
			    '<div class="modal-content">'+
			      '<div class="modal-header" style="text-align: center">'+
			        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
			        '<h2 class="modal-title" id="myModalLabel">Pagamento Efetuado</h2>'+
			      '</div>'+
			      '<div class="modal-body" style="text-align: center">'+
			        '<img class="circular" src="'+avatar+'"/>'+
							'<h2 style="color: #f48a21">'+data.name+'<h2/>'+
							'<h4>Seu pagamento de <large>R$'+amount+'</large> foi efetuado com sucesso!</h4>'+
			      '</div>'+
			    '</div>'+
			  '</div>'+
			'</div>')
			window.location.href = window.location.pathname + "#finalize"
			$('#myModal').modal('show')
		}else{
			$('#payment_alert').html('<button href="#" type="button" class="close" data-dismiss="alert">&times;</button>'+
			'<h4>Pagamento Efetuado</h4>'+
			'<p>'+data.name+', seu pagamento de R$'+amount+' foi efetuado com sucesso!</p>')
			$('#payment_alert').addClass('alert alert-success alert-block alert-dismissible fade in')
		}
	});
