%table.table.table-striped{style: 'table-layout: fixed; width: "100%"'}
  %thead
    %tr
      %td Item
      %td Quantidade
      %td Sub-Total
  %tbody
    - for item in order.order_items
      %tr
        %td.product{style: 'width: "33%"'}
          = item.ordered_item.full_name
          - unless defined?(readonly)
            = link_to image_tag("delete.png"), remove_basket_item_path(item), :method => :delete, :class => 'delete ajax btn btn-xs'
        %td.quantity{style: 'width: "33%"'}
          - unless defined?(readonly)
            %form
              %input#numItem{:max => "10", :min => "1", :name => "quantity", :type => "number", :value=> item.quantity, data: {item_id: item.id}}
        %td.money.total{style: 'width: "33%"'}= number_to_currency item.total
