%ul.products.row
  - for product in products.includes(:default_image, :product_category)
    %li.col-md-6
      .thumbnail
        .col-md-6.product_img
          %img{src: product.default_image ? product.default_image.path : ''}
        .col-md-6.product_text
          .caption
            %h4#name= product.name
            %h6#description= truncate product.short_description, length: 140
            %h4#price
              = number_to_currency product.price
            = link_to "Comprar", buy_product_path(product.product_category.permalink, product.permalink), class: 'btn btn-default', id: 'buy', method: :post
