/* line 1, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  letter-spacing: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 12, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 14, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
img, object, embed {
  max-width: 100%;
}

/* line 15, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
ul {
  list-style: none;
}

/* line 16, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 17, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
b, strong {
  font-weight: bold;
}

/* line 18, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 20, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
del {
  text-decoration: line-through;
}

/* line 24, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 27, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 29, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 31, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 33, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 35, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 42, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 43, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 44, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 46, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 48, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
/* line 52, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 54, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
small {
  font-size: 85%;
}

/* line 56, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
strong, th {
  font-weight: bold;
}

/* line 58, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
/* line 62, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 63, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
sup {
  top: -0.5em;
}

/* line 64, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 67, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 74, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 77, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
/* line 80, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 83, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
/* line 86, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
/* line 89, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 90, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.clearfix:after {
  clear: both;
}

/* line 91, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
.clearfix {
  zoom: 1;
}

/* line 93, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/reset.scss */
select, input, textarea {
  outline: none;
}
/* line 6, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button {
  border: 0;
  padding: 0;
  background: none;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #fff !important;
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #40454D;
  display: inline-block;
}
/* line 20, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button:active {
  background: #535963;
}
/* line 24, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.green {
  background-color: #96BF48;
  border-color: #96BF48;
  border-bottom-color: #86a350;
}
/* line 28, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.green:active {
  background-color: #A8D750;
}
/* line 31, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.loading {
  background-image: url(/images/spinners/button-green.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: transparent !important;
}
/* line 38, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.purple {
  background-color: #C17391;
  border-color: #C17391;
  border-bottom-color: #a7667f;
}
/* line 42, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.purple:active {
  background: #DC83A6;
}
/* line 45, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.orange {
  background-color: #c8541b;
  border-color: #c8541b;
  border-bottom-color: #974117;
}
/* line 49, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.orange:active {
  background: #e75d19;
}
/* line 52, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.grey {
  background-color: #777;
  border-color: #777;
  border-bottom-color: #777;
}
/* line 56, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.grey:active {
  background: #888;
}
/* line 59, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.white {
  background-color: #fff;
  color: #333 !important;
}
/* line 64, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.white-green {
  background-color: #fff;
  color: #96BF48 !important;
}
/* line 70, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/elements.scss */
.button.button-mini {
  font-size: 11px;
  padding: 4px 10px;
  box-shadow: none;
  font-weight: normal;
  text-shadow: none;
  text-transform: none;
}
/*



 */
/* line 11, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html {
  overflow-y: scroll;
  height: 100%;
  background: #fff;
}

/* line 12, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  min-width: 900px;
  height: 100%;
}

/* line 15, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login {
  background: url(/assets/shoppe/logo.svg) #40454d no-repeat center 100px;
  background-size: 70px;
}
/* line 19, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login #flash-alert {
  background: #C17391;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 15px 0;
}
/* line 29, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login #flash-notice {
  background: #94C164;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 15px 0;
}
/* line 42, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.error {
  background: #fff;
  width: 400px;
  margin: auto;
  margin-top: 200px;
  padding: 25px;
  line-height: 1.5;
  font-size: 0.9em;
  text-align: center;
}
/* line 51, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.error h2 {
  color: #C17391;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 15px;
}
/* line 52, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.error p.back {
  margin-top: 25px;
}
/* line 53, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.error p.message {
  font-size: 1.1em;
}
/* line 59, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea {
  background: #fff;
  width: 400px;
  margin: auto;
  margin-top: 200px;
  padding-top: 50px;
}
/* line 66, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.4em;
  color: #40454D;
  margin-bottom: 30px;
}
/* line 73, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field {
  text-align: center;
  margin-bottom: 15px;
}
/* line 76, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field input {
  padding: 7px;
  border: 0;
  border-radius: 4px;
  border: 1px solid #c0c6ce;
  width: 275px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  background: #eef0f4;
  box-shadow: inset 1px 1px 1px rgba(42, 51, 61, 0.1);
  text-align: center;
}
/* line 87, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field input::-webkit-input-placeholder {
  color: #b7bfcb;
  font-weight: normal;
}
/* line 88, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field input:-moz-placeholder {
  color: #b7bfcb;
  font-weight: normal;
}
/* line 89, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field input::-moz-placeholder {
  color: #b7bfcb;
  font-weight: normal;
}
/* line 90, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field input:-ms-input-placeholder {
  color: #b7bfcb;
  font-weight: normal;
}
/* line 92, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.field:last-child {
  margin-bottom: 0;
}
/* line 94, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.submit {
  padding: 15px 0 25px 0;
  text-align: center;
}
/* line 98, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.reset {
  background: #353A41;
  font-size: 0.9em;
  padding: 15px 0;
  text-align: center;
}
/* line 103, /Users/VIHP/.rvm/gems/ruby-2.2.3/bundler/gems/core-8cfa904d4138/app/assets/stylesheets/shoppe/sub.scss */
html.login div.loginArea p.reset a {
  color: rgba(255, 255, 255, 0.5);
}
