ew- @page_title = 'Checkout'

%table.table.table-striped{style: 'table-layout: fixed; width: "100%";'}
  %thead
    %tr
      %td{:align => "center"} KIIK
      %td{:align => "center"} CARTÃO DE CRÉDITO
      %td{:align => "center"} PAYPAL
      %td{:align => "center"} BOLETO BANCÁRIO
  %tbody
    %tr
      %td{:align => "center"}
        = image_tag("kiik-payment.png")
      %td{:align => "center"}
        = image_tag("credit-card.png")
      %td{:align => "center"}
        = image_tag("pay-pal-payment.png")
      %td{:align => "center"}
        = image_tag("billet-payment.png")
    %tr#button_group
      %input#button_value{:name => "button_value", :type => "hidden", :value => ""}/
      %td
        %span.radiobuttons
          %button#button1_button_off.redradio{:name => "button1_button_off", :onclick => "switchON('button_group','button_value','button1',this.value); select_kiik()", :type => "button", :value => "OFF1"}
          %button#button1_button_on.greenradio{:name => "button1_button_on", :style => "display:none;", :type => "button", :value => "ON1"}
      %td
        %span.radiobuttons
          %button#button2_button_off.redradio{:name => "button2_button_off", :onclick => "switchON('button_group','button_value','button2',this.value); select_cards()", :type => "button", :value => "OFF2"}
          %button#button2_button_on.greenradio{:name => "button2_button_on", :style => "display:none;", :type => "button", :value => "ON2"}
      %td
        %span.radiobuttons
          %button#button3_button_off.redradio{:name => "button3_button_off", :onclick => "switchON('button_group','button_value','button3',this.value); select_paypal()", :type => "button", :value => "OFF3"}
          %button#button3_button_on.greenradio{:name => "button3_button_on", :style => "display:none;", :type => "button", :value => "ON3"}
      %td
        %span.radiobuttons
          %button#button4_button_off.redradio{:name => "button4_button_off", :onclick => "switchON('button_group','button_value','button4',this.value); select_billet()", :type => "button", :value => "OFF4"}
          %button#button4_button_on.greenradio{:name => "button4_button_on", :style => "display:none;", :type => "button", :value => "ON4"} 

    <!-- %tr -->
    <!--   - for item in current_order.order_items -->
    <!--     %tr -->
    <!--       %td.product -->
    <!--         = item.ordered_item.full_name -->
    <!--       %td.quantity -->
    <!--         %label item.quantity -->
    <!--       %td.money.total -->
    <!--         = number_to_currency item.total -->



