- @page_title = 'KiiK::Store'

.row
  .col-md-6
    = image_tag 'kiik.png', height: '100px', class: 'center-block'
  .col-md-6
    %p.lead{style: 'margin-top: 40px'} Obrigado por testar o Kiik!

%hr

%a.btn.btn-block.btn-primary{ href: 'https://secure.kiik.com.br/', target: '_blank' } 
  = fa_icon 'apple'
  Baixe o Kiik aqui!
  = fa_icon 'android'
