- require 'rqrcode'
- @page_title = 'Pagar com Kiik'
%input{type: 'hidden', value: @code, id: 'qr_code'}
- @qrcode = RQRCode::QRCode.new(@code)
.row.margin-qrcode
  .col-md-4.col-md-offset-4
    %table{style: "margin:auto"}
      - @qrcode.modules.each_index do |x|
        %tr
          - @qrcode.modules.each_index do |y|
            - if @qrcode.dark?(x,y)
              %td.black
            - else
              %td.white
    %br
    %p.lead.text-center
      = @code
    %p.lead.text-center
      = link_to("Abrir app do KiiK", "kiik://qrcode/#{@code}", class: 'btn btn-warning')

    %p Parabéns por escolher o KiiK. Abra o aplicativo para ler o QR Code e concluir o pagamento de uma forma rápida e segura.
  .col-md-7
    #details
%br
%hr.dash
