.modal.fade.in#pay_now_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'pay_now_modal_label'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true}x
        %h2.modal-title#pay_now_modal_label{style: 'text-align:center'} Pague agora com o KiiK
      .modal-body
        - if @code
          - @qrcode = RQRCode::QRCode.new(@code)
          .row.margin-qrcode
            .col-md-4.col-md-offset-4
              %table{style: "margin:auto"}
                - @qrcode.modules.each_index do |x|
                  %tr
                    - @qrcode.modules.each_index do |y|
                      - if @qrcode.dark?(x,y)
                        %td.black
                      - else
                        %td.white
              %br
              %p.lead.text-center
                = @code
              %p.lead.text-center
                = link_to("Abrir app do KiiK", "kiik://qrcode/#{@code}", class: 'btn btn-warning')
        - else
          %p.lead.text-center Adicione itens ao seu carrinho antes de fazer o pagamento!
