- @page_title = 'KiiK::Store'

.checkout
  %h2 Você será redirecionado para o Pagamento
  %p.intro Clique na imagem abaixo para ser redirecionado ao pagamento
  %br

  .row
    .col-md-12
      = link_to(image_tag('https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png'), redirect_paypal_path, target: '_blank')