.panel.panel-default
  .panel-body
    .order
      .header{style: 'text-align:center'}
        %h3{style: 'color:#3a87ad'}= "Total do Pedido: #{number_to_currency(@order.order_total)}"
        %h3{style: 'color:#3a87ad'}= "Total Pago: #{number_to_currency(@order.paid_total)}"
      %br
      %hr
      - @order.items.each do |item|
        .row
          .col-md-5
            .circular
              = image_tag("https://graph.facebook.com/#{item['client']['id_facebook']}/picture?type=large")
          .col-md-7
            .username.margin-status
              %p{style: 'font-size: 25px'}= item['client']['name']
            .item_paid.margin-status
              %p{style: 'font-size: 15px'}= "Produto: #{item['client']['items_paid']['normal'][0]['product_description']}"
            .value_paid.margin-status
              %p{style: 'font-size: 15px'}= "Pago: #{number_to_currency(item['client']['paid_value'])}"
        %hr
      - if @order.paid_total.to_f > 0.0 && @order.paid_total.to_f >= @order.order_total.to_f
        = render 'orders/finalize', layout:false
