- @page_title = 'KiiK::Store'

.checkout
  %br

  #myWizard.wizard{"data-initialize" => "wizard"}
    %ul.steps
      %li.active{"data-name" => "basket", id: "data-step-1"}
        %span.badge> 1
        Meu Carrinho
        %span.chevron
      %li{"data-name"=> "payment-type", id: "data-step-2"}
        %span.badge> 2
        Forma de Pagamento
        %span.chevron
      %li{"data-name" => "payment", id: "data-step-3"}
        %span.badge> 3
        Confirmação
        %span.chevron

    .step-content
      .step-pane.active.sample-pane.alert{"data-step" => "1", id: 'basket'}
        = render 'orders/show', layout: false
      .step-pane.active.sample-pane.alert{"data-step" => "2", id: 'payment-type'}
        = render 'orders/checkout', layout: false
      .step-pane.active.sample-pane.alert{"data-step" => "2", id: 'kiik'}
        = render 'orders/payment', layout: false
      .step-pane.active.sample-pane.alert{"data-step" => "2", id: 'billet'}
        = render 'orders/billet', layout: false
      .step-pane.active.sample-pane.alert{"data-step" => "2", id: 'card'}
        = render 'orders/card_information', layout: false
      .step-pane.active.sample-pane.alert{"data-step" => "2", id: 'paypal'}
        = render 'orders/paypal', layout: false
      .step-pane.active.sample-pane.alert{"data-step" => "3", id: 'finalize'}
        -#= render 'orders/finalize', layout: false
