// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-btn{
  margin-left: 30px;
}

table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}

td.black { background-color: #000; }
td.white { background-color: transparent; }

.margin-qrcode{
  margin-top: 50px;
}
.margin-status{
  margin-top: 10px;
}
.circular{
  width: 300px;
  height: 300px;
  border-radius: 350px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
