/ - active_nav_item :catalogue
- @page_title = @product.name + " - " + @product.product_category.name
.product
  - if @product.default_image
    .img{:style => "background-image:url(#{@product.default_image.path})"}
  %h2= @product.name
  %p.intro= @product.short_description

  - if @product.has_variants?
    %table.variants
      - for variant in @product.variants
        %tr
          %td
            - if variant.in_stock?
              %p.stock.yes In stock
            - else
              %p.stock.no Out of stock
            %h4= variant.name
            %p.price= number_to_currency variant.price
          %td.buy
            = form_tag buy_product_path(@product.product_category.permalink, @product.permalink, :variant => variant.id), :class => (variant.in_stock? ? 'in-stock' : 'no-stock') do
              %p
                = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !variant.in_stock?
                = submit_tag 'Add to basket', :disabled => !variant.in_stock?
  - else
    .optionsBox
      .top
        %p.price= number_to_currency @product.price
        = form_tag buy_product_path(@product.product_category.permalink, @product.permalink), :class => (@product.in_stock? ? 'in-stock' : 'no-stock') do
          %p
            = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !@product.in_stock?
            = submit_tag 'Add to basket', :disabled => !@product.in_stock?
      .bottom
        .stock
          - if @product.in_stock?
            %p.yes Em estoque
          - else
            %p.no Indisponível no estoque
            %p.time Ops - Atualmente não temos nenhum produto em estoque. #{link_to "Me avise quando tiver"}.
        .links
          %ul
            - if @product.data_sheet
              %li.item.datasheet= link_to "Read product datasheet", @product.data_sheet.path
            - unless @product.in_the_box.blank?
              %li.item.box
                = link_to "O que vem ?"
                %div.in_the_box
                  %h3 O que vem dentro?
                  = markdown @product.in_the_box
            %li.item.ask= mail_to Shoppe.settings.email_address, "Faça uma pergunta sobre isto", :subject => "Dúvidas sobre #{@product.name}"

    %hr

  - unless @attributes.empty?
    %table.attributes
      - for attribute in @attributes
        %tr
          %th= attribute.key
          %td= link_to attribute.value, product_filter_path(:key => attribute.key, :value => attribute.value)
  .description
    = markdown @product.description
