%footer
  .container
    .col-md-3
      %ul
        %li.footer-item
          = image_tag("kiik.png")
        %li.footer-images
          = image_tag("master.png")
          = image_tag("visa.png")
          = image_tag("pay-pal.png")
    .col-md-3
      = image_tag("facebook.png")
      = image_tag("twitter.png")
      = image_tag("instagram.png")         
      = image_tag("rss.png")
    .col-md-3
      %ul
        %li.footer-item-thick Produtos
        %li.footer-item
          = link_to products_path(:tecnologia), class: "footer-item" do
            Tecnologia
    .col-md-3
      %ul
        %li.footer-item-thick Suporte
        %li.footer-item Sobre
        %li.footer-item Termos e Condições
        %li.footer-item Atendimento
       
