%header.main
  .col-md-12.header-cart
    .container
      .cart
        = render('shared/basket')
      .welcome-item
        = image_tag("user.png")
        Bem Vindo
  .col-md-12
    .container
      = link_to root_path, class: 'col-lg-2 welcome-item' do
        = image_tag("kiik.png")
      = link_to products_path(:tecnologia), class: 'col-lg-2 welcome-item' do
        TECNOLOGIA
      %a.welcome-item#pay_now_link{href: "#", style: 'float:right'} Pague agora com o KiiK
